################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/Horus/bin/Debug/netcoreapp3.1
/Horus/obj
/Horus.Test/bin/Debug/netcoreapp3.1
/Horus.Test/obj
